<a href ="/account/indexGuest" class="navbar-brand" >Home</a>
{{#each faculty}}
        <tr>
            <td>{{username}} </td>
            <td>{{email}} </td>
            <td> <a href="/guest/view{{email}}">View</a></td>
            <br><br>

        </tr>
{{/each}}