

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.checkbtn').click(function(){
          $('ul').toggleClass('show');
        });
      });
    </script>
     
    <title>Document</title>
</head>
<body>
  <div class="layout">
    <div class="header">
      <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars" ></i>
        </label>
      <a href="/logout"><span class="logout">&times;</span></a>

    </div>
        <div class="layout1">
            <div class="menu">
                <ul>
                    <li><a href="/account/indexStudent">Home</a></li>
                </ul>

            </div>
            <div class="content">
                
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>

      <tbody>
        {{#each account}}  
          <tr>
            <td>{{email}}</td>
            
            <td>
                <a href="/message/allStudent/{{email}}" style="align-items: center;">detail</a>
            </td>
          </tr>
        {{/each}}

      </tbody>
  </table> 
      </div>
        </div>
  </div>
    
    <div class="footer">
        <p>@University-2021</p>
    </div>
    
</body>
</html>




